
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

i.bi-youtube {
    color:red;
}
i.bi-github {
    color:grey;
}
i.bi-globe {
    color:black;
}
i.bi-instagram {
    color:black;
}
i.bi-phone {
    color:black;
}
i.bi-mailbox {
    color:black;
}
body {
    margin: auto 3em;
}

h2 {
    text-align: center;
}
h2, h3 {
    padding: 1em;
    border: 1px solid black;
}

main, footer, header {
    margin:1em;
    block-size: 100%;
    inline-size: 100%;
}

nav {
    block-size: 4em;
}

nav > div {
    display: inline-block;
    margin-inline-start: 1em;
}



nav ul.grid-container {
    grid-column-gap: 3em;
    list-style-type: none;
    grid-template-rows: 1em;
    
}

a.nav-link {
    padding: 1em;
    margin: 0.25em;
    font-size: 1em;
    color: inherit;
    inline-size: 100%;
    text-decoration: none;
    padding-block-end: 2em;
    margin-inline-start: 1em;
    background-color: white;
    border: 0.1em solid black;
}

div {
    margin: 1em auto;
    inline-size: 100%;
}
 div.pp a {
    padding: 0.3em;
    text-decoration: none;
    margin-inline-end: 3px;
    margin-block-start: 1px;
    border: 1px groove grey;
}

div span {
    margin: 0.3em;
}

div nav {
    border:1px solid black;
}

div.lor {
    display: grid;
    column-gap: 2em;
    grid-template-columns: 33% 33% 33%;


}

div.lor ul {
    list-style-type: none; 
}

div.lor li {
    margin: 0.3em 0; 
}

img {
    inline-size: 100%;
}

.grid-container {
    display: grid;
    column-gap: 2em;
    margin: 1em auto;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
}

.wrap-container {
    background-color: aliceblue;
}
.profile-item {
    inline-size: 100%;
    font-size: 1.29em;
}
.pp {
    flex-wrap: wrap;
    font-size: 1.5em;
    block-size: 3.79em;
    inline-size: 11em;
    margin-inline: 0.3em;
    display: inline-flex;
    align-items: flex-start;
    border: 1px solid black;
    flex-direction: column-reverse;
    
}

.pp > span {
    right: 1em;
    bottom: 1em; 
    user-select: none;
    font-weight: bold;
    margin-inline: 1em;
    position: relative;
}

.py, .js, .db, .c, .cplus, .shark,.up{
    top: 0.7em;
    right: 0.3em;
    font-size: 2em;
    inline-size: 1em;
    position: relative;
    display: inline-block;
}

                            