body {
    margin: auto 3em;
}

h2 {
    background-color:aliceblue;
}
h3 {
    background-color:aliceblue;
}

h2, h3 {
    padding: 1em;
    text-align: center;
}

main {
    block-size: 100%;
    inline-size: 100%;
}

article.grid-container {
    grid-template-columns: 8em 8em 8em 8em;
}

nav > div {
    display: inline-block;
    margin-inline-start: 1em;
}
nav {
    block-size: 4em;
}

nav ul.grid-container {
    grid-column-gap: 3em;
    list-style-type: none;
    grid-template-rows: 1em;
    
}

a.nav-link {
    padding: 1em;
    margin: 0.25em;
    font-size: 1em;
    color: inherit;
    inline-size: 100%;
    text-align: center;
    text-decoration: none;
    padding-block-end: 2em;
    margin-inline-start: 1em;
    background-color: white;
    border: 0.1em solid black;
}

.grid-container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 10em;
    grid-template-columns: 8em 8em 8em;
}

a.nav-link:hover {
    
}

a.nav-link:focus {
    
}