body {
    margin: auto 3em;
}

h2{
    text-align: center;
    background-color:aliceblue;
}
h3 {
    background-color:aliceblue;
}

h2, h3 {
    padding: 1em;
}

main {
    block-size: 100%;
    inline-size: 100%;
}

div.grid-container {
    grid-template-rows: 17em;
    grid-template-columns: 14em 14em 14em;
}

nav > div {
    display: inline-block;
    margin-inline-start: 1em;
}

nav {
    block-size: 4em;
}

nav ul.grid-container {
    grid-column-gap: 3em;
    list-style-type: none;
    grid-template-rows: 1em;
    
}

a.nav-link {
    padding: 1em;
    margin: 0.25em;
    font-size: 1em;
    color: inherit;
    inline-size: 100%;
    text-decoration: none;
    padding-block-end: 2em;
    margin-inline-start: 1em;
    background-color: white;
    border: 0.1em solid black;
}
section div.grid-container {
    list-style-type: none;
    column-gap: 1em;
    grid-template-rows: 11em;
    grid-template-columns: 14em 8em 8em;
}
.grid-container {
    display: grid;
    column-gap: 2em;
    margin: 1em auto;
    grid-template-rows: 10em;
    grid-template-columns: 8em 8em 8em;
}

.wrap-container {
    background-color: aliceblue;

}
div {
    margin: 1em auto;
}
div.lor {
    display: grid;
    column-gap: 2em;
    grid-template-rows: 7em;
    grid-template-columns: 14em 14em;

}
div.lor ul {
    list-style-type: none;
    
}

div.lor li {
    margin: 0.3em 0;
    
}

img {
    inline-size:100px;
    block-size:100px;
}