@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

i.bi-youtube {
    color:rgba(120, 6, 6, 1);
}
i.bi-github {
    color:grey;
}
i.bi-globe {
    color:rgba(0, 0, 0, 1);
}
i.bi-instagram {
    border-radius: 25%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to top right,rgb(255,223,158), rgb(255, 194, 115), rgba(229, 105, 105, 1), rgb(193, 85, 139), rgba(138, 73, 161, 1));  
}
i.bi-phone {
    color:rgba(0, 0, 0, 1);
}
i.bi-mailbox {
    color: rgba(0, 0, 0, 1);
}
i.bi-linkedin {
    color:rgba(0, 0, 128, 1);
}
i.bi-person, i.bi-envelope-fill, i.bi-file-eramark-richtext {
    padding: 10px;
    text-align: center;
    min-inline-size: 50px;
}
