.cnn-ctr {
    text-align: center;
}

.pp {
    flex-wrap: wrap;
    font-size: 1.5em;
    block-size: 3.79em;
    inline-size: 11.9em;
    display: inline-flex;
    margin-inline-end: 0.83em;
    align-items: flex-start;
    border: 1px solid black;
    flex-direction: column-reverse;

    
}

.pp > span {
    right: 1em;
    bottom: 1em;
    font-size: 1em;
    user-select: none;
    font-weight: bold;
    margin-inline: 1em;
    position: relative;
}