div.profile-item {
    font-size: 1.29em;
}

div#profile-wrapper
{
    border-radius: 2em;
    
}
#profile-wrapper 
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

.profile-bar 
{
    padding: 1em;
    display: flex;
    inline-size: 10vh;
    flex-direction: column;
    justify-content: center;
    border-right: 1px groove black;
}
.profile-bar:hover {
    background-color: rgb(51, 117, 173);
}

.profile-bar span {
    font-size: 6vh;
}
.btn-links
{
    padding: 1em;
    font-size: 1em;
    inline-size: 12em;
    margin-block: auto;
    text-align: center;
    border-radius: 1vh;
    margin-inline-start: 1em;
    color: rgb(166, 120, 46);
    background-color: #296395;
}
.btn-links:hover
{
    background-color: rgb(66, 124, 174);
}
.btn-links a:link, .demo a:visited
{
    color : rgb(166, 120, 46);
    text-decoration: none;
    
}
.btn-links a:link:hover
{
    color : black;
}
.btn-links:active
{
    background-color:#0c416e;
}